@charset "UTF-8";
/* variables */
/* variables */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-Round.eot");
  src: local("☺"), url("../fonts/Banny-Round.woff") format("woff"), url("../fonts/Banny-Round.ttf") format("truetype"), url("../fonts/Banny-Round.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-BoldRound.eot");
  src: local("☺"), url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.ttf") format("truetype"), url("../fonts/Banny-BoldRound.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-LightRound.eot");
  src: local("☺"), url("../fonts/Banny-LightRound.woff") format("woff"), url("../fonts/Banny-LightRound.ttf") format("truetype"), url("../fonts/Banny-LightRound.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #e5e5e5;
}

h1 {
  font-family: "Banny", sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 8.4px;
  color: #ffffff;
  text-transform: uppercase;
}

h3 {
  font-family: "Banny", sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h5 {
  font-family: "Banny", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.primary-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  height: 60px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  height: 60px;
  background-color: #e5e5e5;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 15px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

input::placeholder,
textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

@media (min-width: 993px) {
  input:hover, input:focus,
  textarea:hover,
  textarea:focus {
    border-color: #e8c300;
  }
}

/* common for about us - our team - book table - specialties - events */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-bg-lines::before, .section-bg-lines::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 1px;
  top: 0;
}

.section-bg-lines::before {
  left: 20%;
}

.section-bg-lines::after {
  right: 20%;
}

.section-central-bg-line::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
}

.section-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .section-inner-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content-inner-wrapper {
  max-width: 600px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-title::after {
  display: block;
  margin: 5px auto 0;
  width: 60px;
  height: 5px;
  background: #e8c300;
  content: "";
  border-radius: 4px;
}

.img-inner-wrapper {
  max-width: 600px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1319px) {
  .img-inner-wrapper {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.section-img-wrapper {
  max-width: 475px;
  position: relative;
  z-index: 1;
}

.section-img {
  display: block;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1319px) {
  .section-img {
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}

.section-img-right {
  margin-right: auto;
}

@media (max-width: 1319px) {
  .section-img-right {
    margin-left: 20px;
    margin-right: 0;
  }
}

@media (max-width: 799px) {
  .section-img-right {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.section-img-right::before, .section-img-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25%;
  height: 48%;
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1319px) {
  .section-img-right::before, .section-img-right::after {
    display: none;
  }
}

.section-img-right::before {
  width: 4%;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
}

.section-img-right::after {
  width: 48%;
  border: 20px solid #e8c300;
}

.section-img-left {
  margin-left: auto;
}

@media (max-width: 1319px) {
  .section-img-left {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 799px) {
  .section-img-left {
    margin-right: 0;
  }
}

.section-img-left::before, .section-img-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -25%;
  height: 48%;
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1319px) {
  .section-img-left::before, .section-img-left::after {
    display: none;
  }
}

.section-img-left::before {
  width: 4%;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
}

.section-img-left::after {
  width: 48%;
  border: 20px solid #e8c300;
}

/* /common for about us - our team - book table - specialties - events */
.scroll-up-btn {
  display: none;
}

@media (min-width: 768px) {
  .scroll-up-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(232, 193, 0, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
    -o-transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
    transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    cursor: pointer;
  }
  .scroll-up-btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
  }
}

@media (min-width: 768px) and (min-width: 993px) {
  .scroll-up-btn:hover, .scroll-up-btn:focus, .scroll-up-btn:active {
    background-color: #e8c100;
  }
}

@media (min-width: 768px) {
  .scroll-up-btn.active {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 10px 85px;
  background: rgba(0, 0, 0, 0.6) url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}

.header::before, .header::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 87.4%;
  width: 1px;
  top: 12.6%;
}

.header::before {
  left: 20%;
}

.header::after {
  right: 20%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 80px 0 95px;
}

.header__leftnav, .header__rightnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 20px;
  position: relative;
}

.header__leftnav:after, .header__rightnav:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 1px;
  background: rgba(255, 250, 250, 0.2);
  top: 42%;
}

.header__leftnav a, .header__rightnav a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  padding: 10px;
  position: relative;
}

@media (min-width: 993px) {
  .header__leftnav a:hover, .header__leftnav a:focus, .header__rightnav a:hover, .header__rightnav a:focus {
    color: #e8c300;
  }
  .header__leftnav a:hover::after, .header__leftnav a:focus::after, .header__rightnav a:hover::after, .header__rightnav a:focus::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
}

.header__leftnav a::after, .header__rightnav a::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 7px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #e8c300;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.header__leftnav::after {
  right: 6%;
}

.header__rightnav::after {
  left: 6%;
}

.header__logo {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 993px) {
  .header__logo:hover, .header__logo:focus {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
  margin-top: 150px;
}

.header__workinghours {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__workinghours span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 43px;
  z-index: 2;
}

.header__main h1 {
  margin: 15px 0 0;
}

.header__main h1::after {
  display: block;
  margin: 20px auto 0;
  width: 60px;
  height: 5px;
  background: #e8c300;
  content: "";
  border-radius: 4px;
}

.header__main h2::before, .header__main h2::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
}

.header__main h2::before {
  height: 58.1%;
  top: 24%;
  left: 49.9%;
}

.header__main h2::after {
  height: 10.5%;
  bottom: 0;
  left: 49.9%;
}

.header__main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 57%;
  position: relative;
}

.header__main-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 200px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

@media (min-width: 993px) {
  .header__main-btn a:hover::after, .header__main-btn a:focus::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.header__main-btn a::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  right: 0;
  top: -1px;
  bottom: 0;
  background-color: #e8c300;
  border-radius: 4px;
  z-index: -1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.header__social-nav {
  position: relative;
}

.header .social-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.header .social-nav-items i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 993px) {
  .header .social-nav-items i:hover, .header .social-nav-items i:focus {
    font-size: 36px;
  }
}

.header__down-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  margin: 80px auto 0;
  position: relative;
  z-index: 2;
}

.header__down-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #333333;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 993px) {
  .header__down-btn a:hover, .header__down-btn a:focus {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.about-us {
  background-color: #ffffff;
}

.about-us .about-us-wrapper {
  padding: 100px 15px;
}

.about-us__subtitle {
  margin-top: 20px;
}

.about-us__text {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .about-us__img {
    display: none;
  }
}

.our-team {
  padding: 45px 15px 100px;
  background: rgba(0, 0, 0, 0.6) url("../img/our-team-bg.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}

.our-team h2 {
  color: #ffffff;
  text-align: center;
}

.our-team .our-team-wrapper {
  margin: 45px auto 0;
}

.our-team__content {
  color: #ffffff;
}

.our-team__subtitle {
  margin-top: 20px;
}

.our-team__text {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .our-team__img {
    display: none;
  }
}

.book-table {
  padding: 100px 15px 45px;
  background-color: #ffffff;
}

@media (max-width: 1319px) {
  .book-table__content {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
}

.book-table__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 649px) {
  .book-table__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.book-table .book-table-form-left-inputs-wrapper,
.book-table .book-table-form-right-inputs-wrapper {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-table .book-table-form-left-inputs-wrapper input:not(:first-child),
.book-table .book-table-form-right-inputs-wrapper input:not(:first-child) {
  margin-top: 10px;
}

@media (max-width: 649px) {
  .book-table .book-table-form-right-inputs-wrapper {
    margin-top: 10px;
  }
}

.book-table .number-input-wrapper {
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
}

.book-table .number-input-wrapper input {
  width: 100%;
}

@media (min-width: 993px) {
  .book-table .number-input-wrapper.active {
    outline: 2px solid #e8c300;
    outline-offset: -2px;
  }
}

.book-table .input-up-button,
.book-table .input-down-button {
  position: absolute;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.5);
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 993px) {
  .book-table .input-up-button:hover, .book-table .input-up-button:focus,
  .book-table .input-down-button:hover,
  .book-table .input-down-button:focus {
    color: #e8c300;
  }
}

.book-table .input-up-button {
  top: 5px;
  right: 5px;
}

.book-table .input-down-button {
  bottom: 5px;
  right: 5px;
}

.book-table__button {
  width: 100%;
  margin-top: 10px;
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

.book-table__button::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  right: 0;
  top: -1px;
  bottom: 0;
  background-color: #e8c300;
  border-radius: 5px;
  z-index: -1;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media (min-width: 993px) {
  .book-table__button:hover::after, .book-table__button:focus::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 991px) {
  .book-table__img {
    display: none;
  }
}

.book-table__working-hours {
  display: block;
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
}

.specialties {
  padding: 45px 15px;
  background: rgba(0, 0, 0, 0.6) url("../img/spec-bg.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}

.specialties h2 {
  color: #ffffff;
  text-align: center;
}

.specialties .specialties-wrapper {
  margin: 45px auto 0;
}

.specialties__content {
  color: #ffffff;
}

.specialties__subtitle {
  margin-top: 20px;
}

.specialties__text {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .specialties__img {
    display: none;
  }
}

.specialties__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.specialties__dots .dot-indicator {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
}

.specialties__dots .dot-indicator:not(:first-child) {
  margin-left: 20px;
}

.specialties__dots .dot-indicator.active-dot {
  background-color: white;
}

.menu {
  background-color: #ffffff;
  padding: 100px 15px;
}

.menu .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__content {
  text-align: center;
}

.menu__subtitle {
  max-width: 570px;
  margin-top: 30px;
}

.menu .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 499px) {
  .menu .menu__nav {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu .menu__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 50px;
}

@media (max-width: 499px) {
  .menu .menu__nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu .menu__nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 120px;
  padding: 15px 0;
  text-align: center;
}

@media (min-width: 500px) {
  .menu .menu__nav ul li:not(:first-child) {
    border-left: 2px solid rgba(51, 51, 51, 0.2);
  }
}

.menu .menu__nav ul li .menu-nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media (max-width: 499px) {
  .menu .menu__nav ul li .menu-nav-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
  }
}

.menu .menu__nav ul li .menu-nav-item::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 7px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #e8c300;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media (min-width: 993px) {
  .menu .menu__nav ul li .menu-nav-item:hover, .menu .menu__nav ul li .menu-nav-item:focus {
    color: #e8c300;
  }
  .menu .menu__nav ul li .menu-nav-item:hover::after, .menu .menu__nav ul li .menu-nav-item:focus::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
}

.menu .menu__nav ul li .menu-nav-item.active {
  color: #e8c300;
}

.menu .menu__nav ul li .menu-nav-item.active::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 7px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #e8c300;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__list {
  max-width: 1250px;
  margin: 50px -15px 0;
  overflow: auto;
  width: 100%;
}

@media (max-width: 854px) {
  .menu__list {
    margin: 50px 0 0;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 810px) {
  .menu__items {
    width: 1170px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 349px) {
  .menu__items {
    width: 320vw;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 15px 0;
}

@media (max-width: 449px) {
  .menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 349px) {
  .menu__item {
    width: 70vw;
  }
}

.menu__item-title {
  position: relative;
}

@media (min-width: 450px) {
  .menu__item-title::after {
    content: "....";
    position: absolute;
    right: -2.5%;
    bottom: 0;
    font-family: "Banny", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 4px;
  }
}

.menu__item-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.menu__item-price {
  font-family: "Banny", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  position: relative;
}

@media (max-width: 449px) {
  .menu__item-price {
    margin: 10px 0 0;
  }
  .menu__item-price::before {
    content: "....";
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    bottom: 95%;
    font-family: "Banny", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 4px;
  }
}

.menu__list--soup, .menu__list--pizza, .menu__list--pasta, .menu__list--desert, .menu__list--wine, .menu__list--beer, .menu__list--drinks {
  display: none;
}

.menu__list--soup.active, .menu__list--pizza.active, .menu__list--pasta.active, .menu__list--desert.active, .menu__list--wine.active, .menu__list--beer.active, .menu__list--drinks.active {
  display: block;
}

.event {
  padding: 45px 15px;
  background: rgba(0, 0, 0, 0.6) url("../img/spec-bg.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}

.event .event-wrapper {
  margin-top: 40px;
}

@media (max-width: 799px) {
  .event .event-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.event h2 {
  color: #ffffff;
  text-align: center;
}

.event span {
  color: rgba(255, 255, 255, 0.5);
}

.event .img-title-left,
.event .img-title-right {
  position: absolute;
  background-color: #000000;
  width: 15%;
  height: 100%;
  top: 0;
  padding-top: 15px;
  text-align: center;
  border-radius: 0 4px 4px 0;
}

.event .img-title-left span,
.event .img-title-right span {
  font-family: "Banny", sans-serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.event .img-title-left {
  right: 0;
}

.event .img-title-right {
  left: -1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.event__fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.event__fotos img {
  min-width: 250px;
}

.contact-us {
  background-color: #ffffff;
  padding-top: 100px;
}

.contact-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.contact-us__subtitle {
  max-width: 570px;
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.contact-us__form .contact-us-form-inputs-wrapper,
.contact-us__form .contact-us-form-textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 799px) {
  .contact-us__form .contact-us-form-inputs-wrapper,
  .contact-us__form .contact-us-form-textarea-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.contact-us__form .contact-us-form-textarea-wrapper {
  margin-top: 10px;
}

.contact-us__form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-us__form input:not(:first-child) {
  margin-left: 10px;
}

@media (max-width: 799px) {
  .contact-us__form input:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 799px) {
  .contact-us__form input {
    margin-top: 10px;
  }
}

.contact-us__form textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 120px;
  resize: none;
}

.contact-us .button-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media (max-width: 1259px) {
  .contact-us .button-icons-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-us__button {
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

@media (min-width: 1260px) {
  .contact-us__button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 1259px) {
  .contact-us__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 625px;
  }
}

@media (max-width: 649px) {
  .contact-us__button {
    width: 100%;
  }
}

.contact-us__button::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  right: 0;
  top: -1px;
  bottom: 0;
  background-color: #e8c300;
  border-radius: 5px;
  z-index: -1;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media (min-width: 993px) {
  .contact-us__button:hover::after, .contact-us__button:focus::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.contact-us__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

@media (max-width: 1259px) {
  .contact-us__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
    width: 625px;
  }
}

@media (max-width: 649px) {
  .contact-us__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 649px) {
  .contact-us__contacts .contact-wrapper:not(:first-child) {
    margin-top: 10px;
  }
}

.contact-us__contacts i {
  font-size: 14px;
  color: #e8c300;
}

.contact-us__contacts span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.5);
  margin-left: 5px;
}

.contact-us__map {
  overflow: hidden;
  position: relative;
  height: 475px;
  margin-top: 100px;
}

.contact-us__iframe-map {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  background-color: #000000;
  padding: 40px 0;
  text-align: center;
}

.footer span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
