.about-us {
    background-color: #ffffff;

    .about-us-wrapper {
        padding: $size * 10 $size * 1.5;

        @media (max-width: 768px) {
            padding: $size * 4.5 $size * 1.5;
        }
    }

    &__subtitle {
        margin-top: $size * 2;
    }

    &__text {
        margin-top: $size * 3;
    }

    &__img {
        @media (max-width: 991px) {
            display: none;
        }
    }
}
