.header {
    max-width: $size * 144;
    margin: 0 auto;
    padding: $size * 2.5 $size * 1 $size * 8.5;
    background: rgba(0, 0, 0, 0.6) url("../img/header-bg.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;

    @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: $size * 4;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        height: 86.1%;
        width: 1px;
        top: 13.9%;

        @media (max-width: 1100px) {
            height: 87.3%;
            top: 12.7%;
        }
        @media (max-width: 992px) {
            height: 88.9%;
            top: 11.1%;
        }
        @media (max-width: 908px) {
            height: 88.8%;
            top: 11.2%;
        }
        @media (max-width: 776px) {
            height: 88.7%;
            top: 11.3%;
        }
        @media (max-width: 768px) {
            height: 92%;
            top: 8%;
        }
    }

    &::before {
        left: 20%;
    }

    &::after {
        right: 20%;
    }

    &__nav {
        position: relative;
        @media (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            justify-content: space-between;
            align-items: center;
            background-color: #000000;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding: $size/2 0;
            z-index: 3;
        }
    }

    &__nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: $size * 2 $size * 6;

        @media (max-width: 1200px) {
            padding: $size * 2 $size * 3;
        }

        @media (max-width: 992px) {
            padding: $size * 2 0;
        }
        @media (max-width: 768px) {
            position: absolute;
            display: block;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            text-align: center;
            padding: 0;
            margin-top: 56px;
            background-color: rgba(0, 0, 0, 0.95);
            overflow: auto;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s ease-in;
        }

        &.active {
            @media (max-width: 768px) {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__leftnav,
    &__rightnav {
        display: flex;
        justify-content: space-around;
        flex-basis: 40%;
        position: relative;

        @media (max-width: 768px) {
            display: block;
            width: 95vw;
            margin: 0 auto;
        }

        &:after {
            @media (min-width: 769px) {
                content: "";
                position: absolute;
                width: 100%;
                height: $size / 10;
                background: rgba(255, 250, 250, 0.2);
                bottom: -150%;
                @media (max-width: 992px) {
                    bottom: -85%;
                }
            }
        }

        a {
            font-size: $fontsize-xs;
            line-height: $lineheight-sm;
            font-weight: 700;
            color: #ffffff;
            transition: $transition ease-in;
            padding: $size;
            position: relative;

            @media (min-width: 993px) {
                &:hover,
                &:focus {
                    color: #e8c300;

                    &::after {
                        transform: scaleX(1);
                        transform-origin: right;
                    }
                }
            }

            @media (max-width: 768px) {
                font-size: $fontsize-lg;
            }

            &::after {
                content: "";
                position: absolute;
                left: 10px;
                bottom: 7px;
                width: calc(100% - 20px);
                height: 2px;
                background-color: #e8c300;
                transform: scaleX(0);
                transform-origin: left;
                transition: $transition ease-in;
            }
        }
    }

    &__leftnav {
        &::after {
            right: 0;
        }
    }

    &__rightnav {
        &::after {
            left: 0;
        }
    }

    .nav-item {
        @media (max-width: 768px) {
            margin-top: $size * 4;
        }
    }

    &__logo {
        @media (min-width: 769px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 768px) {
            margin-left: $size * 2;
        }

        .svg-logo {
            display: block;
            width: 150px;
            line-height: 0;
            transition: $transition + 0.2s;

            @media (min-width: 993px) {
                &:hover,
                &:focus {
                    transform: rotate(45deg);
                }
            }
            @media (max-width: 992px) {
                width: 120px;
            }
            @media (max-width: 768px) {
                width: 45px;
            }
        }
    }

    &__burger-btn {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30px;
            height: 30px;
            margin-right: $size * 2;
            background-color: transparent;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 4px;
            cursor: pointer;
            z-index: 3;

            .burger-btn-line {
                display: block;
                width: 20px;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.7);
                transition: 0.3s;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.7);
                transition: 0.3s;
            }

            &:before {
                top: 6px;
            }

            &:after {
                bottom: 4px;
            }

            &.active {
                border-color: #e8c300;

                span {
                    transform: scale(0);
                }

                &:before {
                    transform: rotate(45deg);
                    left: 3px;
                    top: 12px;
                    background-color: #e8c300;
                }

                &:after {
                    transform: rotate(-45deg);
                    left: 3px;
                    bottom: 12px;
                    background-color: #e8c300;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0 $size * 8;
        margin-top: $size * 15;

        @media (max-width: 1200px) {
            padding: 0 $size * 2;
        }
        @media (max-width: 1100px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        @media (max-width: 768px) {
            margin-top: $size * 10;
        }
    }

    &__workinghours {
        font-size: $fontsize-xs;
        line-height: $lineheight-xs;
        font-weight: 700;
        color: #ffffff;
        position: relative;

        @media (min-width: 1100px) {
            writing-mode: vertical-lr;
            display: flex;
        }

        @media (max-width: 1100px) {
            order: 3;
            margin-top: $size * 4;
            text-align: center;
        }

        span {
            @media (min-width: 1100px) {
                transform: rotate(180deg);
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: $size * 4.3;
        z-index: 2;

        @media (max-width: 1100px) {
            margin-left: 0;
            order: 1;
        }

        h1 {
            margin: $size * 1.5 0 0;

            &::after {
                display: block;
                margin: $size * 2 auto 0;
                width: $size * 6;
                height: $size / 2;
                background: #e8c300;
                content: "";
                border-radius: 4px;
            }
        }

        h2 {
            &::before {
                content: "";
                position: absolute;
                background-color: rgba(255, 255, 255, 0.2);
                width: 1px;
            }

            &::before {
                height: 74%;
                top: 26%;
                left: 50%;

                @media (max-width: 1100px) {
                    height: 76.5%;
                    top: 23.5%;
                }
                @media (max-width: 992px) {
                    height: 80%;
                    top: 20%;
                }
                @media (max-width: 768px) {
                    height: 92%;
                    top: 8%;
                }
            }
        }
    }

    &__main-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            max-width: $size * 20;
            margin: $size * 3 $size * 2 0;
            background-color: transparent;
            border: 1px solid rgba(250, 250, 250, 0.5);
            transition: $transition;
            position: relative;
            z-index: 1;

            @media (min-width: 993px) {
                &:hover,
                &:focus {
                    &::after {
                        transform: scale(1);
                    }
                }
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                left: -1px;
                right: 0;
                top: -1px;
                bottom: 0;
                background-color: #e8c300;
                border-radius: 4px;
                z-index: -1;
                transform: scale(0);
                transition: $transition ease-in;
            }
        }
    }

    &__social-nav {
        position: relative;

        @media (max-width: 1100px) {
            order: 2;
            margin-top: $size * 6;
        }
    }

    .social-nav-items {
        display: flex;

        @media (min-width: 1100px) {
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
        }

        .social-nav-item:not(:first-child) {
            @media (max-width: 1100px) {
                margin-left: $size * 1.5;
            }
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $fontsize-lg;
            color: #ffffff;
            width: $size * 6;
            height: $size * 6;
            border: 1px solid rgba(250, 250, 250, 0.5);
            border-radius: 50%;
            background-color: transparent;
            transition: $transition;

            @media (min-width: 993px) {
                &:hover,
                &:focus {
                    font-size: $fontsize-lg * 1.5;
                }
            }
            @media (max-width: 992px) {
                font-size: $fontsize-md;
                width: $size * 5;
                height: $size * 5;
            }
        }
    }

    &__down-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size * 6;
        height: $size * 6;
        background-color: transparent;
        border: 1px solid rgba(250, 250, 250, 0.5);
        border-radius: 50%;
        margin: $size * 8 auto 0;
        position: relative;
        z-index: 2;

        @media (max-width: 1100px) {
            margin-top: $size * 4;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $fontsize-md;
            color: #333333;
            width: $size * 4;
            height: $size * 4;
            padding: $size / 2;
            background-color: #ffffff;
            border-radius: 50%;
            transition: $transition;

            @media (min-width: 993px) {
                &:hover,
                &:focus {
                    transform: scale(1.5);
                }
            }
        }
    }
}
