.our-team {
    padding: $size * 4.5 $size * 1.5 $size * 10;
    background: rgba(0, 0, 0, 0.6) url("../img/our-team-bg.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;

    @media (max-width: 768px) {
        padding: $size * 4.5 $size * 1.5;
    }

    h2 {
        color: #ffffff;
        text-align: center;
    }

    .our-team-wrapper {
        margin: $size * 4.5 auto 0;
    }

    &__content {
        color: #ffffff;
    }

    &__subtitle {
        margin-top: $size * 2;
    }

    &__text {
        margin-top: $size * 3;
    }

    &__img {
        @media (max-width: 991px) {
            display: none;
        }
    }
}
