.specialties {
    padding: $size * 5.8 $size * 1.5 $size * 4.8;
    background: rgba(0, 0, 0, 0.6) url("../img/spec-bg.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;

    h2 {
        color: #ffffff;
        text-align: center;
    }

    .specialties-wrapper {
        margin: $size * 4.5 auto 0;
    }

    &__content {
        color: #ffffff;
    }

    &__subtitle {
        margin-top: $size * 2;
    }

    &__text {
        margin-top: $size * 3;
    }

    &__img {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__dots {
        display: flex;
        justify-content: center;
        margin-top: $size * 4.5;

        .dot-indicator {
            display: block;
            width: 10px;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            border-radius: 50%;

            &:not(:first-child) {
                margin-left: $size * 2;
            }

            &.active-dot {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
}
