/* variables */
$size: 10px;

$page-width: 1440px;

$fontsize-xs: 12px;
$fontsize-sm: 14px;
$fontsize-md: 18px;
$fontsize-lg: 24px;
$fontsize-xl: 36px;
$fontsize-xxl: 96px;

$lineheight-xs: 16px;
$lineheight-sm: 22px;
$lineheight-md: 36px;
$lineheight-xl: 48px;

$transition: 0.2s;
/* /variables */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    outline: none;
}

@font-face {
    font-family: "Banny";
    src: url("../fonts/Banny-Round.eot");
    src: local("☺"), url("../fonts/Banny-Round.woff") format("woff"), url("../fonts/Banny-Round.ttf") format("truetype"),
        url("../fonts/Banny-Round.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Banny";
    src: url("../fonts/Banny-BoldRound.eot");
    src: local("☺"), url("../fonts/Banny-BoldRound.woff") format("woff"),
        url("../fonts/Banny-BoldRound.ttf") format("truetype"), url("../fonts/Banny-BoldRound.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Banny";
    src: url("../fonts/Banny-LightRound.eot");
    src: local("☺"), url("../fonts/Banny-LightRound.woff") format("woff"),
        url("../fonts/Banny-LightRound.ttf") format("truetype"), url("../fonts/Banny-LightRound.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #e5e5e5;
    font-family: "Open Sans", sans-serif;
    &.lock {
        overflow: hidden;
    }
}

h1 {
    font-family: "Banny", sans-serif;
    font-size: calc(44px + 52 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $page-width) {
        font-size: $fontsize-xxl;
    }
}

h2 {
    font-size: $fontsize-xs;
    line-height: $lineheight-xs;
    font-weight: 700;
    letter-spacing: $fontsize-sm * 0.6;
    color: #ffffff;
    text-transform: uppercase;
}

h3 {
    font-family: "Banny", sans-serif;
    font-size: $fontsize-lg;
    line-height: $lineheight-xl;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-size: $fontsize-md;
    line-height: $lineheight-sm;
    font-weight: 700;
}

h5 {
    font-family: "Banny", sans-serif;
    font-size: $fontsize-md;
    line-height: $lineheight-sm;
    font-weight: 700;
    text-transform: uppercase;
}

.description {
    font-size: $fontsize-sm;
    line-height: $lineheight-sm;
    font-weight: 400;
}

.primary-btn {
    font-size: $fontsize-xs;
    line-height: $lineheight-sm;
    font-weight: 700;
    color: #ffffff;
    height: $size * 6;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input,
textarea {
    font-size: $fontsize-sm;
    line-height: $lineheight-sm;
    font-weight: 400;
    height: $size * 6;
    background-color: #e5e5e5;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 0 $size * 1.5 0;
    transition: $transition;
    cursor: pointer;

    &::placeholder {
        font-size: $fontsize-sm;
        line-height: $lineheight-sm;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.5);
    }

    &:focus {
        border-color: #e8c300;
    }

    @media (min-width: 993px) {
        &:hover {
            border-color: #e8c300;
        }
    }
}

/* common for about us - our team - book table - specialties - events */
.container {
    max-width: $size * 144;
    margin: 0 auto;
}

.section-bg-lines {
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 1px;
        top: 0;
    }

    &::before {
        left: 20%;
    }

    &::after {
        right: 20%;
    }
}

.section-central-bg-line {
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 1px;
        top: 0;
        left: 50%;
    }
}

.section-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $size * 128;
    margin: 0 auto;

    @media (max-width: 1319px) {
        max-width: 100%;
        justify-content: space-around;
    }
    @media (max-width: 992px) {
        justify-content: center;
    }
}

.content-inner-wrapper {
    max-width: $size * 60;
    text-align: center;
    flex-grow: 1;
}

.section-title {
    &::after {
        display: block;
        margin: $size / 2 auto 0;
        width: $size * 6;
        height: $size / 2;
        background: #e8c300;
        content: "";
        border-radius: 4px;
    }
}

.img-inner-wrapper {
    max-width: $size * 60;
    flex-grow: 1;

    @media (max-width: 1319px) {
        flex-grow: 0;
    }
}

.section-img-wrapper {
    max-width: $size * 47.5;
    position: relative;
    z-index: 1;
}

.section-img {
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);

    @media (max-width: 1319px) {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
        width: 100%;
    }
}

.section-img-right {
    margin-right: auto;

    @media (max-width: 1319px) {
        margin-left: $size * 2;
        margin-right: 0;
    }

    @media (max-width: 799px) {
        margin-left: 0;
        margin-bottom: $size * 2;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -25%;
        height: 48%;
        border-radius: 4px;
        transform: translateY(-50%);

        @media (max-width: 1319px) {
            display: none;
        }
    }

    &::before {
        width: 4%;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
    }

    &::after {
        width: 48%;
        border: $size * 2 solid #e8c300;
    }
}

.section-img-left {
    margin-left: auto;

    @media (max-width: 1319px) {
        margin-right: $size * 2;
        margin-left: 0;
    }

    @media (max-width: 799px) {
        margin-right: 0;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -25%;
        height: 48%;
        border-radius: 4px;
        transform: translateY(-50%);

        @media (max-width: 1319px) {
            display: none;
        }
    }

    &::before {
        width: 4%;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.65);
    }

    &::after {
        width: 48%;
        border: $size * 2 solid #e8c300;
    }
}
/* /common for about us - our team - book table - specialties - events */

.scroll-up-btn {
    display: none;

    @media (min-width: 769px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(232, 193, 0, 0.8);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        cursor: pointer;

        &::after {
            content: "\f077";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 20px;
            color: #ffffff;
        }

        @media (min-width: 993px) {
            &:hover,
            &:focus,
            &:active {
                background-color: rgba(232, 193, 0, 1);
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

@import "_header.scss";
@import "_about-us.scss";
@import "_our-team.scss";
@import "_book-table.scss";
@import "_specialties.scss";
@import "_menu.scss";
@import "_events.scss";
@import "_contact-us.scss";
@import "_footer.scss";
